__pycache__/
*.py[cod]
*.eep
*.elf
*.hex
*.map
*.lss
*.so
*.dylib
*.prg
*.sym
*.exe
*.log
*.dll
*.stackdump
*.d64
*.bin
*.rom
*.res.o
*.o
*.dbg
*.vs
readline*
testsuite
extensions.c
server*.c
kernal*.c
help.c
make-extension
make-bootstrap
make-server
make-kernal
make-help
bootstrap*.txt
log
TODO
inpout32*
Makefile.private
libusb-1.0.26-binaries*
.source.txt
.vscode/
**/__pycache__
ctype/__pycache__/*
xlink/ctype/__pycache__
xlink
ctype/.$esp64.drawio.bkp
ctype/__pycache__/base_app.cpython-310.pyc
ctype/__pycache__/c64_keys.cpython-310.pyc
ctype/__pycache__/text_screen.cpython-310.pyc
ctype/__pycache__/textel.cpython-310.pyc
ctype/__pycache__/widgets.cpython-310.pyc
ctype/__pycache__/xlink.cpython-310.pyc
ctype/__pycache__/xthin_toolkit.cpython-310.pyc
ctype/apps/__pycache__/drawer.cpython-310.pyc
ctype/apps/__pycache__/random.cpython-310.pyc
driver/at90usb162/LUFA/Drivers/USB/Class/Common/HIDParser.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/HIDClassDevice.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/MassStorageClassDevice.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/MIDIClassDevice.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/PrinterClassDevice.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/RNDISClassDevice.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/AndroidAccessoryClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/AudioClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/CDCClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/HIDClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/MassStorageClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/MIDIClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/PrinterClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/RNDISClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Class/Host/StillImageClassHost.d
driver/at90usb162/LUFA/Drivers/USB/Core/ConfigDescriptors.d
driver/at90usb162/LUFA/Drivers/USB/Core/DeviceStandardReq.d
driver/at90usb162/LUFA/Drivers/USB/Core/Events.d
driver/at90usb162/LUFA/Drivers/USB/Core/HostStandardReq.d
driver/at90usb162/LUFA/Drivers/USB/Core/USBTask.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/Device_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/Endpoint_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/EndpointStream_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/Host_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/Pipe_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/PipeStream_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/USBController_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Core/AVR8/USBInterrupt_AVR8.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/AudioClassDevice.d
driver/at90usb162/LUFA/Drivers/USB/Class/Device/CDCClassDevice.d
ctype/__pycache__/base_app.cpython-310.pyc
ctype/__pycache__/c64_keys.cpython-310.pyc
ctype/__pycache__/text_screen.cpython-310.pyc
ctype/__pycache__/textel.cpython-310.pyc
ctype/__pycache__/widgets.cpython-310.pyc
ctype/__pycache__/xlink.cpython-310.pyc
ctype/__pycache__/xthin_toolkit.cpython-310.pyc
ctype/apps/__pycache__/drawer.cpython-310.pyc
ctype/apps/__pycache__/random.cpython-310.pyc
ctype/__pycache__/base_app.cpython-310.pyc
ctype/__pycache__/c64_keys.cpython-310.pyc
ctype/__pycache__/text_screen.cpython-310.pyc
ctype/__pycache__/textel.cpython-310.pyc
ctype/__pycache__/widgets.cpython-310.pyc
ctype/__pycache__/xlink.cpython-310.pyc
ctype/__pycache__/xthin_toolkit.cpython-310.pyc
ctype/__pycache__/base_app.cpython-310.pyc
